<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <title>Homepage</title>
</head>
<body>
    <div>
        <nav>
            <div class="nav-wrapper">
              <h3 class="brand-logo">Travel Planner</h3>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/register">Register Here</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/dashboard">Go To Dashboard</a></li>
              </ul>
            </div>
        </nav>
    </div>
    <img class="img" src="{% static 'img/travel.jpeg' %}"/>
</body>
</html>